body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Helvetica Neue", Arial, sans-serif;
	background: #fff;
	color: #202023;
}

.tipContainer {
	display: inline;
	cursor: help;
}

.tip {
	font-weight: bold;
	margin: auto 1vw;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #202023;
		color: #fff;
	}
}
