body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		Arial,
		sans-serif;
	font-size: 0.8em;
	background: #fff;
	color: #202023;
	user-select: none;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.tipContainer {
	display: inline;
	cursor: help;
}

.tip,
.warning {
	font-weight: bold;
	margin: auto 1vw;
}

.warning {
	color: #f00;
	display: none;
}

label[for="versionTag"] {
	line-height: 3em;
}

#exportButton {
	margin-right: 0.5em;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #202023;
		color: #fff;
	}
}
