body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
	font-size: 0.8em;
	background: #fff;
	color: #202023;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.tipContainer {
	display: inline;
	cursor: help;
}

.tip {
	font-weight: bold;
	margin: auto 1vw;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #202023;
		color: #fff;
	}
}
