body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
	background: #fff;
	color: #202023;
	user-select: none;
	margin: 0;
	padding: 0.5em;
}

#urlList {
	overflow: auto;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	user-select: text;
}

table,
th,
td {
	padding: 0.33em 0;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div {
	text-align: center;
}

td *,
th * {
	margin: auto 0;
}

td {
	display: block;
}

.urlEntry,
#urlList {
	border: 1px solid gainsboro;
	border-width: 1px 0;
}

.urlEntry:hover,
.urlEntry:focus-within {
	background-color: gainsboro;
}

.urlEntry:last-of-type {
	border-bottom-width: 0;
}

.urlCell {
	white-space: initial;
	word-break: break-all;
	cursor: pointer;
	text-overflow: initial;
}

.urlEntry > td {
	display: table-cell;
}

input,
select {
	margin: auto 0.25em;
}

input,
select,
label {
	vertical-align: middle;
}

a {
	color: inherit;
}

#clearFilterInput {
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #202023;
		color: #fff;
	}

	.urlEntry:hover,
	.urlEntry:focus-within {
		color: #232323;
	}
}
